.custom-gradient {
    background: linear-gradient(159deg, rgba(255, 255, 255, 0.60) 7.95%, rgba(217, 217, 217, 0.10) 96.18%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(20px);
}
.gradient {
    background: linear-gradient(164deg, #FECDF9 11.77%, #F8F3ED 32.34%, #FB9804 54.24%, rgba(64, 139, 252, 0.70) 86.77%);
}
